language: ruby
sudo: false
cache:
  bundler: true
rvm:
  - 2.5.0
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
before_install:
  - gem update --system
  - gem install bundler
before_script:
  - bundle exec rake db:create db:setup
  

script: xvfb-run -a bundle exec rake ci
